/SpeakerAPIs/packages
/MeditecnologiasDemo1/Temp
/MeditecnologiasDemo1/UWP
/MeditecnologiasDemo1/.vs
/MeditecnologiasDemo1/etc
/MeditecnologiasDemo1/Output
/SpeakerAPIs/.vs
/SpeakerAPIs/SpeakerAPI/obj
/SpeakerAPIs/SpeakerAPI/bin
