/SpeakerAPIs/packages
/MeditecnologiasDemo1/Temp
/MeditecnologiasDemo1/UWP
/MeditecnologiasDemo1/.vs
/MeditecnologiasDemo1/etc
/MeditecnologiasDemo1/Output
/SpeakerAPIs/.vs
/SpeakerAPIs/SpeakerAPI/obj
/SpeakerAPIs/SpeakerAPI/bin
/MeditecnologiasDemo1/Library/PlayerDataCache
/MeditecnologiasDemo1/Library
/SpeakerAPIs/SurgeonPatient.DataAccess/bin/Debug
/SpeakerAPIs/SurgeonPatient.DataAccess/obj/Debug
/SpeakerAPIs/SpeakerAPI/App_Data/SurgeonPatient.DataAccess.Context.DBContext_log.ldf
/SpeakerAPIs/SpeakerAPI/App_Data/SurgeonPatient.DataAccess.Context.DBContext.mdf
